%h3 Assets for the project

%ul
  - @project.assets.each do |asset|
    %li
      = link_to asset.file_url do
        = image_tag asset.file_url(:thumb), width: 120 if asset.file_url =~ /(gif|jpg|jpeg|png|bmp)$/
        = asset.file_identifier

- unless @project.assets.any?
  %p.text-muted
    %em There are no tasks for this project yet.

= form_for [ @project, @project.assets.build ], multipart: true do |f|
  %p
    = f.file_field :file
  %p
    = f.submit class: "btn btn-primary"
