<h1>Projects</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ends at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project %>
        </td>
        <td><%= l project.ends_at, format: :long %></td>
        <td>
          <%- if policy(:project).edit? %>
            <%= link_to 'Edit', edit_project_path(project) %>
            &bull;
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @projects, theme: "twitter-bootstrap-3" %>

<p>
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
</p>

<% content_for(:sidebar) do %>
<h3>All projects</h3>
<ol class="list-group">
  <% Project.all.each do |project| %>
  <li class="list-group-item"><%= link_to project.name, project %></li>
  <% end %>
</ol>
<% end %>
