<h1>
  <%= @project.name %>
</h1>

<blockquote><%= @project.description %></blockquote>

<p>
  <strong>Ends at:</strong>
  <%= @project.ends_at %>
</p>

<h2>Tasks for this project</h2>

<ul>
  <% @project.tasks.each do |task| %>
  <li>
    <%= check_box_tag "task_done_#{task.id}", "", task.done, class: "task_done", data: { id: task.id, toggle_path: toggle_project_task_path(@project, task) } %>
    <%= link_to task.title, [@project, task] %>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "New task", new_project_task_path(@project), class: "btn btn-primary" %>
</p>

<%= render "assets" %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
